.register-form {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title, &__subtitle {
        text-align: center;
    }
    &__step {
        display: flex;
        flex-direction: column;
    }
    &__form-field, &__form-input {
        width: 100%;
    }
    &__form-field {
        padding-bottom: 0.5rem;
    }
}